{% extends "main.html" %}

{% block content %}
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Quản lý</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">
                <ol class="breadcrumb ms-auto">
                    <li><a href="#" class="fw-normal">Quản lý hàng hóa</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Danh sách hàng hóa của đơn hàng</h3>
                </div>
                <form class="col-md-12 mb-5" action="/view/{{ orders[0] }}" method="POST">
                    <div class="form-group">
                        <label>Sửa trạng thái đơn hàng</label>
                        <select class="form-control" name="status" required>
                            <option value="">Chọn trạng thái đơn hàng</option>                        
                            <option value="1">Đã thanh toán</option>                    
                            <option value="0">Chờ thanh toán</option>
                        </select>
                    </div>
                    <button class="btn btn-success w-100">Xác nhận</button>
                </form>
                <hr>
                <div class="table-responsive">
                    <button class="btn btn-success w-100 mb-3 text-white" data-bs-toggle="modal" data-bs-target="#add_product">Thêm hàng hóa mới</button>
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Tên</th>
                                <th class="border-top-0">Số lượng</th>
                                <th class="border-top-0">Giá tiền (1 sản phẩm)</th>
                                <th class="border-top-0">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if orders_detail|length > 0: %}
                                {%for row in orders_detail %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>{{ row[4] }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-sm btn-circle" href="/view/delete/{{ orders[0] }}/{{ row[0] }}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">Chưa có mặt hàng nào</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_product" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mặt hàng mới</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/view/add/{{ orders[0] }}" method="POST">
                    <div class="form-group">
                        <label>Hàng hóa</label>
                        <select class="form-control" name="name" required>
                            {% if product|length > 0: %}
                                {%for item in product %}
                                <option value="{{ item[1] }}">{{ item[1] }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Số lượng </label>
                        <input class="form-control" name="soluong" type="number" required>
                    </div>   
                    <button class="btn btn-success" type="submit">Lưu lại</button>       
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}